<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Hello world!</title>
</head>

<body>
    <h1>User List</h1>
    <ul>

        <table border="1">
            <thead>
                <td>Name</td>
                <td>Email</td>
                <td>status</td>
            </thead>
            {{#each users}}

            <tbody>
                <td>{{this.userName}}</td>
                <td>{{this.email}}</td>
                <td>{{this.status}}</td>

            </tbody>
            {{/each}}

        </table>
</body>

</html>